p{
    font-family: 'Roboto', sans-serif;
}
.centered{
    margin: 0 0;
    width: 25vw;
    padding: 0;
}
table{
    width:100px;
}
.mat-form-field {
    width: 50%;
  }
#second-select{
    position: relative;
    top:2px;

} /*
td{
    width: 25%;
} */
#timer-form {
    width: 100px;
}
div{
    width: 100px;
}