<!-- <form> -->
<div class="timer-form">
    <table class="centered " cellspaceing="0">
        <tr>
            <td>
                <mat-form-field id="second-select">

                    <input matInput placeholder="Seconds" type="number" [formControl]="timerControl">
                    <mat-hint>Duration in seconds</mat-hint>
                </mat-form-field>
            </td>

            <td>
                <mat-form-field >
                    <mat-label>Select an Invterval</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="run">Run</mat-option>
                        <mat-option value="rest">Rest</mat-option>
                        <mat-option value="pump">Pump</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>
</div>
<button mat-mini-fab color="primary">+</button>



<!-- </form> -->
<p>font test</p>