html, body{
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.timer-card .card{
    max-width: 33%;
}

mat-form-field {
    width: 100%;
  }

timer-selector{
    width: 50px;
    margin: 0;
    padding: 0;
}